
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&f[]=satoshi@300,400,500,700,900&display=swap");

@import "tailwindcss";

@theme {
    --font-sans: "Satoshi", sans-serif;
    --font-display: "Clash Display", sans-serif;
  
    --color-bg: #f6f6fa;
    --color-primary: #000000;
    --color-accent1: #148ac4;
    --color-accent2: #3533cd;
  
    --background-mesh:
      radial-gradient(at 40% 20%, hsla(200,82%,43%,1) 0px, transparent 50%),
      radial-gradient(at 80% 0%, hsla(241,60%,50%,1) 0px, transparent 50%),
      radial-gradient(at 0% 50%, hsla(200,82%,43%,1) 0px, transparent 50%);
  }
  

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f6f6fa;
  /* cursor: none; */
  font-family: 'Satoshi', sans-serif;
}


html.lenis,
html.lenis body {
  height: auto !important;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}



.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.clip-text-image {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Hide default cursor for custom cursor */
/* .no-cursor {
  cursor: none;
} */

/* Smooth animation for custom cursor if you add later */
/* .custom-cursor {
  pointer-events: none;
  position: fixed;
  z-index: 9999;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: transform 150ms ease-out;
} */
